:root{
    --letraPrincipal:1rem;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-size: var(--letraPrincipal);
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    justify-content: space-around;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-habilidades{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.centrar
{
    grid-column:1/span3;
}
.sec-sobremi{
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 4rem 10rem;
    text-align: center;
}
fieldset h2{
    text-align: center;
}
.secfieldset{
    margin:4rem 10rem;
    display: flex;
    justify-content: space-around;
}
footer{
    text-align: center;
}
@media (max-width: 780px) {
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        text-align: center;
    }

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
    }
    .sec-habilidades{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    .sec-sobremi{
        display: flex;
        flex-direction: column;
        padding: 2rem 5rem;
        text-align: center;
    }
    .sec-sobremi div{
        padding: 0.5rem;
    }
    .secfieldset{
        margin:2rem 1rem;
        display: flex;
        flex-direction: column;
    }
}